.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;

}

.movie {
  text-align: center;
}

.movie h3, .movie p {
  padding: 0%;
  margin: 0;
}

.movie img{
  border-radius: 8px;;
  margin-top: 16px;

}

.loading-container {
  position: relative;
}

.loading-spinner {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}